
<!DOCTYPE html> 
<html> 
  
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
  
<!-- body tag starts here -->
<body>
    <div class="container">
        <blockquote class="background-blockquote" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CdRPMFvLmY6/?utm_source=ig_embed&amp;utm_campaign=loading">

        </blockquote>
        <div class="content">
            <center> 
                <h1>GeeksforGeeks</h1> 
                <h2>HTML <body> background Attribute</h2> 
                  
                <a href="#"> 
                    It is a Computer Science portal For Geeks 
                </a> 
            </center> 
        </div>
    </div>

</body> 
<!-- body tag ends here -->
  
</html> 
<!-- 
<!DOCTYPE html>
<html>
    <style>
        p {
          background-image: url('https://scontent-ams2-1.cdninstagram.com/v/t51.2885-15/280189356_402840431464638_6042557696603261852_n.jpg?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi43NTB4NDc3LnNkciJ9&_nc_ht=scontent-ams2-1.cdninstagram.com&_nc_cat=106&_nc_ohc=DpkKas_F2dkAX-9DjbO&edm=ABmJApABAAAA&ccb=7-5&ig_cache_key=MjgzMzExMjQ0MjA4NDQxOTEzMA%3D%3D.2-ccb7-5&oh=00_AfAH_o4FjRTAZeQupbVKrE0bm-FblffrT0EsxGUxOhnaBQ&oe=65281707&_nc_sid=b41fef');
        }
        </style> 
</html> -->
