{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Other meta tags and stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">
        <link rel="icon" type="image/png" href="{% static 'blog/fav_icon.png' %}">
        <title>
            Hof van Heulerbroek
        </title>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a class="navtext" href="{% url 'home' %}">Home</a>
            <a class="navtext" href="{% url 'vergaderruimte' %}">Vergaderruimte</a>
            <a class="navtext" href="{% url 'bed_and_breakfast' %}">B&B</a>
            <a class="navtext" href="{% url 'over-ons' %}">Over ons</a>
            <a class="navtext" href="{% url 'omgeving' %}">Omgeving</a>
            <a class="navtext" href="{% url 'contact' %}">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="toggle_function()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
          

        <div class="content">
            {% block content %}

            {% endblock %}
        </div>

        <footer>
            <div class="footer">
                <div class="row">
                    <ul>
                    <li onclick="copyText('info@hofvanheulerbroek.nl')">
                        <a><i class="fas fa-envelope"></i> info@hofvanheulerbroek.nl</a>
                    </li>
                    <li onclick="copyText('+31 6 12345678')">
                        <a><i class="fas fa-phone"></i> +31 6 12345678</a>
                    </li>
                    <li><a href="https://www.instagram.com/hofvanheulerbroek/?hl=en"><i class="fab fa-instagram"></i> Volg ons op Instagram</a></li>
                    <li onclick="copyText('Rijksweg 22A, Bergen')">
                        <a><i class="fas fa-map-marker-alt"></i> Rijksweg 22A, Bergen</a>
                    </li>
                    </ul>
                </div>
            </div>
        </footer>

        <script>
            function toggle_function() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }

            function copyText(text) {
                var input = document.createElement('input');
                input.setAttribute('value', text);
                document.body.appendChild(input);
                input.select();
                var result = document.execCommand('copy');
                document.body.removeChild(input);

            }
        </script>
    </body>
</html>