{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">
        <title>
            Hof van Heulerbroek
        </title>
    </head>
    <body>
        <ul class="navbar">
            <li class="navitem"><img src="{% static 'blog/logo.jpeg' %}" height="64PX" alt="Hof van Heulerbroek logo"></li>
            <li class="navitem"><a href="{% url 'home' %}">Home</a></li>
            <li class="navitem">
                <a href="">Vergaderruimte</a>
                <ul class="subnav">
                    <li><a href="{% url 'vergaderruimte-info' %}">Info</a></li>
                    <li><a href="{% url 'vergaderruimte-fotos' %}">Foto's</a></li>
                    <li><a href="{% url 'vergaderruimte-prijzen' %}">Prijzen</a></li>
                </ul>
            </li>
            <li class="navitem"><a href="{% url 'over-ons' %}">Over ons</a></li>
            <li class="navitem"><a href="{% url 'route' %}">Route</a></li>
            <li class="navitem"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
          

        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>