{% extends "blog/base.html" %}
{% load static %}
{% block content%}

            <!-- <h1>Hof van Heulerbroek</h1>
            <h3>Unieke vergaderruimte en trainingslocatie</h3> -->

            <div class="home-container">
                <div class="video-container">
                    <figure>
                        <img class="home-logo" src="{% static 'blog/logo.jpeg' %}" alt="Hof van Heulerbroek logo">
                    </figure>
                </div>
            </div>


            <div class="home-container">
                <div class="video-container">
                    <figure>
                        <img class="home-img" src="{% static 'blog/hofvanheulerbroek.jpg' %}" alt="Hof van Heulerbroek accomodatie">
                        <figcaption>
                            Bij Hof van Heulerbroek kunt u terecht voor exclusieve verhuur van ruimte voor zakelijke
                            bijeenkomsten zoals vergaderen, brainstormsessies, trainingen, coaching en strategie
                            sessies.
                            Op deze inspirerende vergaderplek wordt u met persoonlijke aandacht, warmte en
                            enthousiasme ontvangen. Wij zorgen ervoor dat de organisatie van jouw vergadering,
                            teamdag, training, coaching of heisessie op rolletjes loopt zonder hierbij al te zichtbaar te
                            zijn.
                            Een prachtige locatie midden in de landelijke omgeving van de Maasduinen in Noord
                            Limburg. Een plek midden in het groen waar je je even helemaal weg waant en thuis voelt.
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="home-container">
                <div class="video-container">
                <h1>Omgeving</h1>
                    <figure>
                        <video controls autoplay>
                            <source src="{% static 'blog/surroundings1.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <figcaption>
                            Hof van Heulerbroek heeft op .... Haar deuren geopend. Gelegen in de prachtige natuur van de
                            Maasduinen in de kop van Noord Limburg vind je deze inspirerende vergaderlocatie. Natuurlijke
                            materialen en zorgvuldig gekozen kleuren zorgen ervoor dat je je helemaal thuis voelt en je jezelf
                            open kunt stellen voor nieuwe ideeën en ontwikkelingen.
                            Buiten de vergaderlocatie waar je de beschikking hebt over een vergaderlocatie die zich op de eerste
                            verdieping van het gebouw bevindt, is er een lunch/ontmoetingsruimte op de begane grond waar je
                            kunt genieten van een korte pauze, lunch pauze en/of een borrelmoment aan het einde van de dag.
                        </figcaption>
                    </figure>
                </div>
            </div>
            
              
{% endblock content%}
