{% extends "blog/base.html" %}
{% load static %}
{% block content%}

    <div class="over-ons-container">
        <div class="over-ons-left">
            <img class="over-ons-image" src="{% static 'blog/over_ons.jpg' %}" alt="over-ons">
        </div>
        <div class="over-ons-text">
            Wij zijn Hans Lemmen en Lonneke Koenen jullie gastheer en gastvrouw van Hof van Heulerbroek.
            Samen met (bonus)zoon Stan en (bonus)dochter Manon wonen wij vanaf 2021 op deze prachtige
            locatie die uitkijkt op het natuurgebied Heuloërbroek. Hier komt dan gelijk ook de naam van onze
            locatie vandaan. Omdat Heuloërbroek niet heel lekker in de mond ligt, hebben wij gekozen voor
            Heulerbroek. <br> <br>

            Hans is al jaren actief in het bedrijfsleven als manager, coach, trainer..... en komt zelf op vele plekken
            waar vergaderingen, teambuilding, heidagen etc worden gegeven. Doordat hij beseft dat een
            inspireerde locatie zoveel meer kan brengen voor een team ontstond het idee om dit zelf aan huis te
            gaan bouwen. Dit ook omdat hij, ondanks dat hij nooit zelf in de bouw heeft gezeten, zelf bouwen
            ontzettend leuk vindt. Alles is dan ook in eigen beheer gebouwd. <br> <br>

            Lonneke groeide op in een ondernemersgezin dat woonde net buiten het dorp Afferden (limburg).
            Met hardwerkende ouders die zeer gastvrij zijn en voor wie het spreekwoordelijke; 'wie goed doet,
            goed ontmoet' een levensmotto is, is de stap naar hospitality niet groot.
            De werk-roots van Lonneke liggen in de zorg. Als OK assistent is zij doorgegroeid naar OK manager.
            Daarin ziet zij het belang van een goed communicerend team wat samen tot de mooiste,
            vooruitstrevende ideeën kan komen. In een andere omgeving dan de normale werkplek worden de
            beste plannen gemaakt, komt een team weer tot elkaar als dat nodig is en ziet iedereen hoe fijn het
            is om samen te werken en elkaar te helpen en inspireren. <br> <br>

            De droom van Hans en Lonneke is om een vergaderlocatie te runnen waar het gevoel van
            thuiskomen, luxe en een inspirerende omgeving samenkomen. Persoonlijke aandacht en service
            staan hoog in het vaandel. Hier beleef je buiten als je binnen bent.
        </div>
    </div>
        
{% endblock content%}
