{% extends "blog/base.html" %}
{% block content%}
    <p>Met de auto:</p>
    Adres; Rijksweg 22A, 5854AV, (Nieuw) Bergen
    Je kunt de auto vrij parkeren op eigen terrein.
    Evt een button plan je route erbij vanuit google maps

    <p>Met openbaar vervoer:</p>
    Adres; Rijksweg 22A, 5854AV, (Nieuw) Bergen
    Hof van Heulerbroek ligt op 3 minuten lopen van bushalte Aijen, Aijerdijk en Nieuw Bergen, Bergse
    Heide, lijn 83 (Breng/Arriva).
    Evt een button plan je route erbij vanuit met 9292 OV
    
{% endblock content%}
