{% extends "blog/base.html" %}
{% block content%}
    <!-- {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>
            By {{post.author}} on {{ post.date_posted }}
        </p>
    {% endfor%} -->
    <p>Unieke vergaderruimte en trainingslocatie</p>

        <p>1. Bij Hof van Heulerbroek kun je terecht voor exclusieve verhuur van ruimte voor zakelijke
    bijeenkomsten zoals vergaderen, brainstormsessies, trainingen, coaching en strategie
    sessies.</p>
    <p>2. Op deze inspirerende vergaderplek word je met persoonlijke aandacht, warmte en
    enthousiasme ontvangen. Wij zorgen ervoor dat de organisatie van jouw vergadering,
    teamdag, training, coaching of heisessie op rolletjes loopt zonder hierbij al te zichtbaar te
    zijn.</p>
    <p>3. Een prachtige locatie midden in de landelijke omgeving van de Maasduinen in Noord
    Limburg. Een plek midden in het groen waar je je even helemaal weg waant en waar je je
    thuis voelt</p>

{% endblock content%}
